
@model IEnumerable<MvcProject.Models.Prodoct>

@{
    ViewBag.Title = "Index";
}

<h2>Buy For U</h2>
This is home page


@if (User.Identity.IsAuthenticated)
{
    @Html.Partial("Logout")
    @Html.Partial("AddProduct")
}
else
{
   
    @Html.Partial("LoginUser")
}


