@model List<MvcProject.Models.Product>

@{
    decimal price = 0;
}

<table>
    <tr>
        @for (int i = 0; i < Model.Count(); i++)
        {
            @Html.Partial("ViewProductInShopingCart", Model[i])
            price += Model[i].Price;
        }
    </tr>
</table>

Price: @price
<br />
@Html.ActionLink("Buy All Items", "BuyAllItems", "ShopingCart")