
@model MvcProject.Models.Product

<div>
    @Html.CheckBoxFor(x => x.IsInCart, new { dataid = Model.Id, @class = "checkboxes" })


    <span>:מחיר @Model.Price </span>
    @Html.ActionLink(@Model.Title, "MoreDedails", "Home", new { id = Model.Id }, "")
    <br />

</div>